
.cr {
	height: 450px;
	z-index: -2;
}
 
/* Intro Area */
.intro-area {
	position: relative;
	padding: 60px 0px;
	text-align: center; 
	background:whitesmoke;
}

.sub-heading {
	position: relative;
	margin-bottom: 75px;
}

.sub-heading:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -3%;
	width: 6%;
	height: 1px;
	background-color: #e13839;
	z-index: 1;
	-webkit-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.sub-heading:hover:before {
	width: 24%;
	margin-left: -12%;
	
}

.sub-heading:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -12%;
	width: 24%;
	height: 1px;
	background-color: #e1e1e1;
}

.sub-heading p {
	color: #818181;
	display: inline-block;
	padding:0px 0px 20px;
	position: relative;
	line-height: 24px;

}

.intro-block {
	position: relative;
	background-color: #6ef77c;
	margin: 30px 0px 10px;
	text-align: center;
	padding:70px 10px 40px;
	height: 500px
}

.intro-block:hover, .intro-block.active {
	background:#e13839;
}

.intro-block:hover {
	transition: .6s ease;
	-webkit-transition: .6s ease;
	-moz-transition: .6s ease;
	-o-transition: .6s ease;
	-ms-transition: .6s ease; 
}

.intro-block .intro-icon {
	position: absolute;
	top: -31px;
	left: 50%;
	margin-left: -31px;
}



.intro-block .fa {
	width: 63px;
	height: 63px;
	font-size: 30px;
	color: #e13839;
	line-height: 2;
	background:white;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 10px #358c3e;
}

.intro-block:hover .fa, .intro-block.active .fa {
	background:white;
	color: green;
	box-shadow: 0px 0px 0px 10px brown;

}

.intro-block h3 {
	font-size: 18px;
	color: #e13839;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.intro-block p {
	color: #505050;
}

.intro-block:hover h3, .intro-block:hover p {
	color: #f6f6f6;
}

.banner {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/nav-background4.jpg);
	background-position: center;
	background-attachment: fixed;
}


ul {
	list-style: none;
}

.more-feature-area {
	background-color: whitesmoke;
	margin-top: 50px;
	margin-bottom: 30px;
	padding-top: 35px;
	padding-bottom: 70px;
}
.more-feature-area img {
	width: 90%;
	margin-left: 20px;
	padding:20px;
	height: 700px;
}

.main-title h2 {
	padding-top: 30px;
	color: #e13839;
	text-transform: uppercase;
}
.feature-list li{
	position: relative;
	margin-bottom: 30px;
	padding-left: 80px;
}

.feature-list li:hover i {
	color: white;
	background-color: #e13839;
	transition: .5s ease;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	-ms-transition: .5s ease;
}

.feature-icon {
	position: absolute;
	left: 0;
}

.feature-icon i {
	width: 50px;
	height:50px;
	text-align: center;
	font-size: 30px;
	background:white;
	color: #e13839;
	border-radius: 50%;
	border: 2px solid #6ef77c;
	line-height: 50px
}

.feature-details h3 {
	color: #e13839;
	font-weight: 700;
	text-transform: uppercase;
}

.feature-details p {
	color: grey;
	font-weight: 300;
}




.leadership {
	padding:80px, 0px;
	margin-bottom: 30px;
}

.leadership .sub-heading {
	margin-bottom: 100px;
}

.team-man {
	position: absolute;
	left: 50%;
	margin-left: -50px; 
	top: -50px;
	overflow:hidden;
	min-height: 100px;
	height: 100px;
	width: 100px;
	min-width: 100px;
	border: 2px solid brown;
	border-radius: 50%;
	margin-bottom: 10px;
}

.team-man img {
	width: 100%;
	height: 100%;
	min-height: 100px;
	min-width: 100px;
	border-right: 50%;
}

.team-block {
	margin-bottom: 70px;
}
.team-block h3 {
	color: #e13839;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 70px;
	margin-bottom: 5px;
}

.team-block span {
	color: #6c6c6c;
	font-size: 16px;
	font-weight:400;
	letter-spacing: 0.025em;
}

.team-description {
	background-color: #f5f5f5;
}
.team-description p {
	color: #6c6c6c;
	font-size: 14px;
	padding:25px 15px;
	line-height: 24px;

	
}

.team-social-network {
	text-align: center;
	padding-bottom: 15px;	
}


.team-social-network a {
	margin:0 6px;
}

.team-social-network i {
	height: 40px;
	width: 40px;
	background-color: white;
	text-align: center;
	color: #e13839;
	border-radius: 50%;
	border: 3px solid #e13839;
	padding-top: 10px;
}


.team-block:hover .team-description{
	background-color: green;
	color: white;
	transition: .6s ease;
	-webkit-transition: .6s ease;
	-moz-transition: .6s ease;
	-o-transition: .6s ease;
	-ms-transition: .6s ease;
}

.team-block:hover h3,.team-block:hover p, .team-block:hover span {
	color: white;
}

.team-block:hover .team-social-network i {
	border-color: white;
	background: deepskyblue;
	color: white;
	transition: .6s ease;
	-webkit-transition: .6s ease;
	-moz-transition: .6s ease;
	-o-transition: .6s ease;
	-ms-transition: .6s ease;
}

.download  {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/nav-background3.jpg);
	background-position: center;
	background-attachment: fixed;
}
.download h2{
	color: #e13839;
}

.download .sub-heading p {
	color: grey;
}


.about-us {
	background-color: white;
	padding: 30px
}

.about-us img {
	width: 100%;
	height: 600px;
}

.about-us h2 {
	font-size: 35px;
	font-weight: bold;
	color: #e13839;
	text-transform: uppercase;
}

.about-us h2:before {
	content: "I";
	margin-right: 10px;
	color: green;
}

.about-us p {
	font-size: 19px;
	font-weight: 300;
	color: grey;
	line-height: 40px;
}

.mission-vision {
	background-color: whitesmoke;
	padding:40px;
	text-align: center;
}

.mission-vision h3 {
	font-size: 34px;
	font-weight: bold;
	color: #e13839;
	text-transform: uppercase;
}

.mission-vision p {
	font-size: 18px;
	font-weight: 300;
	color: grey;
	line-height: 40px;
}

.mission-vision h3:before {
	content: "I";
	color: green;
	margin-right: 10px;
}

.gallery-section {
	background-color: whitesmoke;
	padding:50px;
	font-size: 0;
	-ms-flexbox-wrap:wrap;
	-ms-flexbox-direction:column;
	-webkit-flex-flow:row wrap;
	flex-flow:row wrap;
	display: -webkit-box;
	display: flex;
}

.gallery-section div {
	-webkit-box-flex:auto;
	-ms-flex:auto;
	flex:auto;
	width: 200px;
	margin:.5vw;
}

.gallery-section div img {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 400px){
	.gallery-section div {
		margin:0;
	}
	.gallery-section {
		padding:0;
	}
}
@media all and (max-width: 768px){
	.cr {
		height: 300px;
		z-index: -2;
	}
	.intro-block {
		width: 88%;
		left: 6%;
		right: 6%;
		height: auto;
		margin-bottom: 40px;
		border-bottom: 1px solid brown;
	}

	.intro-block p {
		line-height: 40px;
	}

	.more-feature-area img {
		width: 100%;
		margin-bottom: 30px;
		border-radius: 30px;
	}

	.about-us img {
		height: 400px;
		width: 100%;
		padding-bottom: 20px;
		border-radius: 20px;
	}
}

.ceo-image {
	width: 100%;
}

.ceo-image img {
	width: 100%
}

.content {
	padding:20px;
}
.content h2 {
	font-size: 30px;
	font-weight: 700;
	color: #e13839;
	text-transform: uppercase;
	padding-bottom: 25px;
}

.content h2:before {
	content: "I";
	margin-right: 10px;
	color: green
}

.content p {
	font-size: 18px;
	color: grey;
	line-height: 45px;
}












.about {
	position: absolute;
	width: 88%;
	top: 12px;
	left: 6%;
	right:6%;
	z-index: 1;
	height: 500px;

	
	background:#75ea75;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateX(-120%);
	transition: transform 1s ease-in;
	}

.toggle-about {
	transform: translateX(0%);
	transition: transform 1s ease-in-out;
}

.aboutUs {
	padding:40px;
	padding-top: 60px;
	text-align: left;
}

.aboutUs h3 {
	color: #e13839;
	font-size: 40px;
	text-transform: uppercase;
	border-bottom: 1px solid black;
}
.mission {
	padding:40px;
}

.mission ul {
	list-style: none;
}
.mission li {
	padding:20px;
	border-bottom: 2px solid white;
	text-align: left;
}

.mission a {
	color: black;
}
.links {
	padding:40px;
}

.ourStory {
	position: absolute;
	width: 100%;
	top: 60px;
	
	z-index: 1;
	height: 500px;

	
	background:#75ea75;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateX(-120%);
	transition: transform 1s ease-in;
	}

.toggle-ourStory {
	transform: translateX(0%);
	transition: transform 1s ease-in-out;
}
.ourStoryContent{
	padding:45px;
	padding-bottom: 20px;
	
}
.ourStoryContent h1 {
	width: 100%;
	color: #e13839;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	
}
.ourStoryContent h1:before {
	content: "I";
	color: green;
	font-size: 40px;
}

.ourStoryContent p {
	line-height: 40px;
	font-size: 24px;

}

.whatWeDo {
	position: absolute;
	width: 88%;
	top: 10px;
	left: 6%;
	right:6%;
	z-index: 1;
	height: 500px;

	
	background:#75ea75;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateX(-120%);
	transition: transform 1s ease-in;
	}

.toggle-whatWeDo {
	transform: translateX(0%);
	transition: transform 1s ease-in-out;
}

.whatWeDo {
	padding:40px;
	padding-top: 60px;
	text-align: left;
}

.whatWeDo h3 {
	color: #e13839;
	font-size: 40px;
	text-transform: uppercase;
	border-bottom: 1px solid black;
}
.projectsNav {
	position: absolute;
	width: 88%;
	top: 205px;
	left: 6%;
	right: 6%;
	z-index: 1;
	height: 500px;
	
	background:green;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateX(-120%);
	transition: transform 1s ease-in;
}


.whatWeDo ul {
	list-style: none;
}
.whatWeDo li {
	padding:20px;
	border-bottom: 2px solid white;
	text-align: left;
}

.whatWeDo a {
	color: black;
}
.links {
	padding:40px;
}
.toggle-projects {
	transform: translateX(0%);
}

.gallery {
	position: absolute;
	width: 88%;
	top: 205px;
	left: 6%;
	right: 6%;
	z-index: 1;
	height: 500px;
	
	background:green;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateX(-120%);
	transition: transform 1s ease-in;
	}

.toggle-gallery {
	transform: translateX(0%);
}



*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
}

.nav-name {
	position: absolute;
	top: 10px;
	width: 100%;
	

}
header {
	position: relative;
}

.nav-name img {
	height: 150px;
	width: 150px;
	border-radius: 15px;
	
}
.nav-name h1 {
	font-size: 28px;
	letter-spacing: 3px;
	font-weight: bold;
	color: #e13839;
	text-align: center;
	margin-left: 10px;

	text-transform: uppercase;
}
nav {
	position: absolute;
	top: 5px;
	
	z-index: 3;
	display: flex;
	width: 98%;
	justify-content: space-around;
	align-items: center;
	background-color: green;
	min-height: 9vh;
	font-family: "Poppins", san-serif;

	border-radius: 7px;
}

.logoC2 {
	width: 50px;
	height: 50px;
}

.logoC2 img {
	width: 100%;
	height: 100%;
}

.nav-linksC2 {
	display: flex;
	
	justify-content: space-around;
	width: 50%;
	list-style: none;
}

.nav-linksC2 li {
	height: 100%;
	padding:5px;
}

.nav-linksC2 li:hover {
	border-bottom: 2px solid brown;
}

.nav-linksC2 a {
	color: rgb(226,226, 226);
	text-decoration: none;
	letter-spacing: 1px;
	font-weight:  bold;
	font-size: 14px;
	text-transform: uppercase;
}

.burgerC2 {
	display: none;
	cursor: pointer;
}
.burgerC2 div{
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin:3px;
}

header .corousel-inner .item {
	height: 100vh;
}




.box-areaC2 {
	
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;align-items: center;
}

.single-box{
	position: relative;
	width: 320px;
	height: 500px;
	border-radius: 4px;
	background-color: #c1efcc;
	text-align: center;
	margin:2px;
	padding: 20px;
	padding-bottom: 30px;
	transition: .3s
}
.single-box i {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	background-color: white;
	font-size: 45px;
	color: #e13839;
	margin:15px;
	padding:10px;
}
.img-areaC2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border: 6px solid #ddd;
	border-radius: 50%;
	margin-bottom: 10px;
	padding:20px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}


.header-text {
	font-size: 24px;
	font-weight: 700;
}

.img-textC2 {
	font-family: Poppins;
	padding-top: 20px;
}

.img-textC2 p {
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.single-box:hover {
	background: #e13839;
	color: #fff;
}
.single-box:hover i {
	color: #c1efcc;
}
.read-more {
	padding:15px;
}
.projects {
	margin:0;
	padding:0;
	background: white;
	padding-top: 30px;
	margin-top: 2px;
}

.projects-title {
	width: 70%;
	padding:10px;
}
.projects-title h1 {
	color: #e13839;
	font-size: 50px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid black;
}

.projects-title p {
	color: black;
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 30px;
	text-align: center;
}

.banner-imgC2 {
	background-image: url(images/nav-background2.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
}
.banner-textC2 {
	width: 80%;
	height: 250px;
	padding:20px;
}

.banner-textC2 h1 {
	color: #e13839;
	font-size: 40px;
	text-transform: uppercase;
}

.banner-textC2 p {
	color: white;
	font-size: 24px;
	
}
.impact {
	background: #fff5ee;
	width: 100%;
	margin-bottom: 40px;
	margin-top: 40px;
}
.impact-title {
	width: 70%;
	padding:10px;
}
.impact-title h1 {
	color: #e13839;
	font-size: 50px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid black;
}

.impact-title p {
	color: black;
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 30px;
	text-align: center;
}

.card img {
	height: 300px;
}


.holdingContainer {
	width: 100%;
	display: flex;
	
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;


}

.internalContainer {
	flex:1;
	display: flex;
	flex-direction: column;
	
	background:#c1efcc;
	padding:15px;
	margin:5px;
	font-size: 12px;
	font-family: "Roboto", sans-serif;

	border-radius: 5px;
}
.internalContainer img {
	width: 100%;
	height: 250px
}

.internalContainer-text {
	line-height: 25px;
}

.internalContainer h1 {
	font-size: 24px;
	color: #e13839;
	text-transform: uppercase;
}

.internalContainer h1:before{
	content: "I";
	font-size: 24px;
	color: green;
	margin-right: 10px;
}

.internalContainer-text h5 {
	font-size: 15px;
	margin:5px;

}
.internalContainer-text h5:before {
	content: "-";
	font-size: 24px;
	font-weight: bold;
	color: #e13839;
	margin-right: 5px;
}

.internalContainer-text h5:after {
	content: "-";
	font-size: 24px;
	font-weight: bold;
	color: #e13839;
	margin-left: 5px;
}

.internalContainer-text p {
	font-size: 18px;
	padding:5px;
}
.internalContainer2 {
	
	background:#c1efcc;
	padding:30px;
	font-size: 12px;
	font-family: "Roboto", sans-serif;

}

.impact2 {
	background: #f8f9fa;
	padding-left: 10px;
	padding-right: 10px;
}

.read-more {
	margin:30px;
	
}

.read-more button {
	font-size: 20px; 
	color: white;
	font-weight: bold;
	width: 200px;
	height: 50px;
	border:0;
	border-radius: 5px;
	background: #e13839;
}

.read-more button:hover {
	background: green;
	transition: 0.5s ease-in;
}

.banner-read-more button {
	font-size: 20px; 
	color: white;
	font-weight: bold;
	width: 200px;
	height: 50px;
	border:0;
	border-radius: 5px;
	background: #e13839;
}
.banner-read-more button:hover {
	background: green;
	transition: 0.5s ease-in;
}
.footer-topC2 {
	background: #111;
	padding:80px 0;
}

.footer-topC2 p {
	color: #999;
	line-height: 25px;
}

.footer-topC2 h2, h3 {
	color: #fff;
}

.footer-topC2 h2 {
	font-size: 18px;
}

.segment-oneC2 h3 {
	font-family: Courgette;
	color: #fff;
	letter-spacing: 3px;
	margin:10px 0;
}

.segment-twoC2 h2 {
	color: #fff;
	font-family: Poppins;
	text-transform: uppercase;
}

.segment-twoC2 h2:before{
	content: "I";
	color: #c65039;
	padding-right: 10px;
}

.segment-twoC2 ul {
	margin:0;
	padding: 0;
	list-style: none;
}

.segment-twoC2 ul li {
	border-bottom:  1px solid rgba(255, 255, 255, 0.3)
	line-height: 40px;

}

.segment-twoC2 ul li a {
	color: #999;
	text-decoration: none;
}

.segment-threeC2 h2 {
	color: #fff;
	font-family: Poppins;
	text-transform: uppercase;
}

.segment-threeC2 h2:before {
	content: "I";
	color: #c65039;
	padding-right: 10px;
} 

.segment-threeC2 a {
	background: #494848;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
}

.segment-threeC2 a i {
	font-size: 20px;
	color: #fff;
	padding:10px 12px;
}

.segment-fourC2 h2 {
	color: #fff;
	font-family: Poppins;
	text-transform: uppercase;
}

.segment-fourC2 h2:before {
	content: "I";
	color: #c65039;
	padding-right: 10px;
} 

.segment-fourC2 form input[type=submit] {
	background: #c65039;
	border: none;
	padding: 3px 15px;
	margin-left: -5px;
	color: #fff;
	text-transform: uppercase;
}

.segment-fourC2 form input[type=email] {
	width: 120px
}

.footer-bottomC2 {
	text-align: center;
	background: #000;
	line-height: 75px;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	.md-mb-30C2 {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 767px){
	.sm-mb-30C2 {
		margin-bottom: 30px;
	}
	.footer-topC2 {
		padding:50px 0;
	}
}




@media screen and (max-width: 768px){
	html, body {
		overflow-x: hidden !important;
	}

	.nav-name img {
		height: 120px;
		width: 120px;
		border-radius: 15px;
	}
	.nav-name h1 {
		font-size: 30px;
		top: 30px;
	}

	nav {
		top: 150px;
	}
	.nav-linksC2 {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: green;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(120%);
		transition: transform 0.5s ease-in;
	}
	.logoC2 {
		display: block;
	}
	.logoC2 h4 {
		font-size: 15px;
	}
	.nav-linksC2 li {
		opacity: 0;
	}

	.burgerC2 {
		display: block;
	}

	.single-box {
		width: 100%;
		margin:10px;
	}
	.projects-title {
		width: 90%;
	}

	.projects-title h1 {
		font-size: 30px;
	}
	.projects-title p {
		font-size: 15px;
	}

	.impact-title {
		width: 80%;
	}
	.impact-title h1 {
		font-size: 30px;
	}
	.impact-title p {
		font-size: 15px;
	}

	.banner-textC2 {
		width: 90%;
		padding:10px;
	}

	.banner-textC2 h1 {
		font-size: 25px;
		padding:0;
	}
	.banner-textC2 p {
		font-size: 20px;
		padding:0;
	}

	.holdingContainer {
		flex-direction: column;
		width: 85%;
	}
}

@media screen and (max-width: 540){
	html, body {
		overflow-x: hidden !important;
	}

	.projects-title {
		width: 90%;
	}
}

.nav-activeC2 {
	transform: translateX(0%);
}


@keyframes navLinkFadeC2 {
	from {
		opacity: 0;
		transform: translateX(50px;);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
