
.about {
	position: absolute;
	width: 88%;
	top: 205px;
	left: 6%;
	right:6%;
	z-index: 1;
	height: 500px;

	
	background:#75ea75;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateX(-120%);
	transition: transform 1s ease-in;
	}

.toggle-about {
	transform: translateX(0%);
	transition: transform 1s ease-in-out;
}

.aboutUs {
	padding:40px;
	padding-top: 60px;
	text-align: left;
}

.aboutUs h3 {
	color: #e13839;
	font-size: 40px;
	text-transform: uppercase;
	border-bottom: 1px solid black;
}
.mission {
	padding:40px;
}

.mission ul {
	list-style: none;
}
.mission li {
	padding:20px;
	border-bottom: 2px solid white;
	text-align: left;
}

.mission a {
	color: black;
}
.links {
	padding:40px;
}

.ourStory {
	position: absolute;
	width: 88%;
	top: 205px;
	left: 6%;
	right:6%;
	z-index: 1;
	height: 500px;

	
	background:#75ea75;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateX(-120%);
	transition: transform 1s ease-in;
	}

.toggle-ourStory {
	transform: translateX(0%);
	transition: transform 1s ease-in-out;
}
.ourStoryContent{
	padding:45px;
	padding-bottom: 20px;
	
}
.ourStoryContent h1 {
	width: 100%;
	color: #e13839;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	
}
.ourStoryContent h1:before {
	content: "I";
	color: green;
	font-size: 40px;
}

.ourStoryContent p {
	line-height: 40px;
	font-size: 24px;

}
.projectsNav {
	position: absolute;
	width: 88%;
	top: 205px;
	left: 6%;
	right: 6%;
	z-index: 1;
	height: 500px;
	
	background:green;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateX(-120%);
	transition: transform 1s ease-in;
	}

.toggle-projects {
	transform: translateX(0%);
}

.gallery {
	position: absolute;
	width: 88%;
	top: 205px;
	left: 6%;
	right: 6%;
	z-index: 1;
	height: 500px;
	
	background:green;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateX(-120%);
	transition: transform 1s ease-in;
	}

.toggle-gallery {
	transform: translateX(0%);
}



*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
}

.nav-name {
	position: absolute;
	top: 50px;
	width: 88%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.nav-name img {
	height: 70px;
	width: 70px;
	border-radius: 70px;
}
.nav-name h1 {
	font-size: 50px;
	font-weight: bold;
	color: #e13839;
	text-align: center;
	margin-left: 10px;

	text-transform: uppercase;
}
nav {
	position: absolute;
	top: 150px;
	left: 6%;
	right: 6%;
	z-index: 3;
	display: flex;
	width: 88%;
	justify-content: space-around;
	align-items: center;
	background-color: green;
	min-height: 7vh;
	font-family: "Poppins", san-serif;

	border-radius: 7px;
}

.logoC2 {
	color: rgb(226,226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px
}

.nav-linksC2 {
	display: flex;
	
	justify-content: space-around;
	width: 80%;
	list-style: none;
}

.nav-linksC2 li {
	height: 100%;
	padding:5px;
}

.nav-linksC2 li:hover {
	border-bottom: 2px solid brown;
}

.nav-linksC2 a {
	color: rgb(226,226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight:  bold;
	font-size: 14px;
	text-transform: uppercase;
}

.burgerC2 {
	display: none;
	cursor: pointer;
}
.burgerC2 div{
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin:3px;
}

header .corousel-inner .item {
	height: 100vh;
}




.box-areaC2 {
	
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;align-items: center;
}

.single-boxC2{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 280px;
	height: auto;
	border-radius: 4px;
	background-color: #c1efcc;
	text-align: center;
	margin:2px;
	padding: 20px;
	transition: .3s
}

.img-areaC2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border: 6px solid #ddd;
	border-radius: 50%;
	margin-bottom: 10px;
	padding:20px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.single-boxC2:nth-child(1) .img-areaC2{

	background-image: url(images/pic1.jpg);


}

.single-boxC2:nth-child(2) .img-areaC2{
	background-image: url(images/pic2.jpg);
}

.single-boxC2:nth-child(3) .img-areaC2{

	background-image: url(images/pic3.jpg);
}

.single-boxC2:nth-child(4) .img-areaC2{
	background-image: url(images/pic4.jpg);
}


.header-textC2 {
	font-size: 24px;
	font-weight: 500;
	line-height: 48px;
}

.img-textC2 {
	font-family: Poppins;
	padding-top: 20px;
}

.img-textC2 p {
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
}

.single-boxC2:hover {
	background: #e13839;
	color: #fff;
}
.read-more {
	padding:15px;
}
.projects {
	background:#f8f9fa;
	padding-top: 30px;
	margin-top: 2px;
}

.projects-title {
	width: 70%;
	padding:10px;
}
.projects-title h1 {
	color: #e13839;
	font-size: 50px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid black;
}

.projects-title p {
	color: black;
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 30px;
	text-align: center;
}

.banner-imgC2 {
	background-image: url(images/nav-background2.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
}
.banner-textC2 {
	width: 80%;
	height: 250px;
	padding:20px;
}

.banner-textC2 h1 {
	color: #e13839;
	font-size: 40px;
	text-transform: uppercase;
}

.banner-textC2 p {
	color: white;
	font-size: 24px;
	
}
.impact {
	background: white;
	width: 100%;
	margin-bottom: 40px;
	margin-top: 40px;
}
.impact-title {
	width: 70%;
	padding:10px;
}
.impact-title h1 {
	color: #e13839;
	font-size: 50px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid black;
}

.impact-title p {
	color: black;
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 30px;
	text-align: center;
}

.card img {
	height: 300px;
}


.holdingContainer {
	width: 100%;
	display: flex;
	
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;


}

.internalContainer {
	flex:1;
	display: flex;
	flex-direction: column;
	
	background:#c1efcc;
	padding:15px;
	margin:5px;
	font-size: 12px;
	font-family: "Roboto", sans-serif;

	border-radius: 5px;
}
.internalContainer img {
	width: 100%;
	height: 250px
}

.internalContainer-text {
	line-height: 25px;
}

.internalContainer h1 {
	font-size: 24px;
	color: #e13839;
	text-transform: uppercase;
}

.internalContainer h1:before{
	content: "I";
	font-size: 24px;
	color: green;
	margin-right: 10px;
}

.internalContainer-text h5 {
	font-size: 15px;
	margin:5px;

}
.internalContainer-text h5:before {
	content: "-";
	font-size: 24px;
	font-weight: bold;
	color: #e13839;
	margin-right: 5px;
}

.internalContainer-text h5:after {
	content: "-";
	font-size: 24px;
	font-weight: bold;
	color: #e13839;
	margin-left: 5px;
}

.internalContainer-text p {
	font-size: 18px;
	padding:5px;
}
.internalContainer2 {
	
	background:#c1efcc;
	padding:30px;
	font-size: 12px;
	font-family: "Roboto", sans-serif;

}

.impact2 {
	background: #f8f9fa;
	padding-left: 10px;
	padding-right: 10px;
}

.read-more {
	margin:30px;
	
}

.read-more button {
	font-size: 20px; 
	color: white;
	font-weight: bold;
	width: 200px;
	height: 50px;
	border:0;
	border-radius: 5px;
	background: #e13839;
}

.read-more button:hover {
	background: green;
	transition: 0.5s ease-in;
}

.banner-read-more button {
	font-size: 20px; 
	color: white;
	font-weight: bold;
	width: 200px;
	height: 50px;
	border:0;
	border-radius: 5px;
	background: #e13839;
}
.banner-read-more button:hover {
	background: green;
	transition: 0.5s ease-in;
}
.footer-topC2 {
	background: #111;
	padding:80px 0;
}

.footer-topC2 p {
	color: #999;
	line-height: 25px;
}

.footer-topC2 h2, h3 {
	color: #fff;
}

.footer-topC2 h2 {
	font-size: 18px;
}

.segment-oneC2 h3 {
	font-family: Courgette;
	color: #fff;
	letter-spacing: 3px;
	margin:10px 0;
}

.segment-twoC2 h2 {
	color: #fff;
	font-family: Poppins;
	text-transform: uppercase;
}

.segment-twoC2 h2:before{
	content: "I";
	color: #c65039;
	padding-right: 10px;
}

.segment-twoC2 ul {
	margin:0;
	padding: 0;
	list-style: none;
}

.segment-twoC2 ul li {
	border-bottom:  1px solid rgba(255, 255, 255, 0.3)
	line-height: 40px;

}

.segment-twoC2 ul li a {
	color: #999;
	text-decoration: none;
}

.segment-threeC2 h2 {
	color: #fff;
	font-family: Poppins;
	text-transform: uppercase;
}

.segment-threeC2 h2:before {
	content: "I";
	color: #c65039;
	padding-right: 10px;
} 

.segment-threeC2 a {
	background: #494848;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
}

.segment-threeC2 a i {
	font-size: 20px;
	color: #fff;
	padding:10px 12px;
}

.segment-fourC2 h2 {
	color: #fff;
	font-family: Poppins;
	text-transform: uppercase;
}

.segment-fourC2 h2:before {
	content: "I";
	color: #c65039;
	padding-right: 10px;
} 

.segment-fourC2 form input[type=submit] {
	background: #c65039;
	border: none;
	padding: 3px 15px;
	margin-left: -5px;
	color: #fff;
	text-transform: uppercase;
}

.segment-fourC2 form input[type=email] {
	width: 120px
}

.footer-bottomC2 {
	text-align: center;
	background: #000;
	line-height: 75px;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	.md-mb-30C2 {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 767px){
	.sm-mb-30C2 {
		margin-bottom: 30px;
	}
	.footer-topC2 {
		padding:50px 0;
	}
}




@media screen and (max-width: 768px){
	html, body {
		overflow-x: hidden !important;
	}

	.nav-name img {
		height: 45px;
		width: 45px;
		border-radius: 45px;
	}
	.nav-name h1 {
		font-size: 30px;
		top: 30px;
	}

	nav {
		top: 110px;
	}
	.nav-linksC2 {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: green;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(120%);
		transition: transform 0.5s ease-in;
	}

	.nav-linksC2 li {
		opacity: 0;
	}

	.burgerC2 {
		display: block;
	}

	.single-boxC2 {
		width: 80%
	}
	.projects-title {
		width: 90%;
	}

	.projects-title h1 {
		font-size: 30px;
	}
	.projects-title p {
		font-size: 15px;
	}

	.impact-title {
		width: 80%;
	}
	.impact-title h1 {
		font-size: 30px;
	}
	.impact-title p {
		font-size: 15px;
	}

	.banner-textC2 {
		width: 90%;
		padding:10px;
	}

	.banner-textC2 h1 {
		font-size: 25px;
		padding:0;
	}
	.banner-textC2 p {
		font-size: 20px;
		padding:0;
	}

	.holdingContainer {
		flex-direction: column;
		width: 85%;
	}
}

@media screen and (max-width: 540){
	html, body {
		overflow-x: hidden !important;
	}

	.projects-title {
		width: 90%;
	}
}

.nav-activeC2 {
	transform: translateX(0%);
}


@keyframes navLinkFadeC2 {
	from {
		opacity: 0;
		transform: translateX(50px;);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
